BOT_TOKEN=

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/soundbot

REDIS_URL=redis://redis:6379

ADMIN_IDS=123456789

CHANNEL_ID=-1001234567890
CHANNEL_USERNAME=my_main_channel

WORKS_CHANNEL_ID=-1001234567891
WORKS_CHANNEL_USERNAME=my_portfolio_channel
