BOT_TOKEN=1234567890:AAF...your_token_here
ADMIN_ID=123456789
CHANNEL_ID=@your_channel
CHANNEL_LINK=https://t.me/your_channel
WORKS_CHANNEL_LINK=https://t.me/your_works_channel
DM_LINK=https://t.me/your_username
