aiogram==3.21.0

sqlalchemy==2.0.41
asyncpg==0.30.0

redis==6.2.0

alembic==1.16.2

python-dotenv==1.1.1

pydantic==2.11.7
pydantic-settings==2.10.1

apscheduler==3.11.0

loguru==0.7.3

greenlet==3.2.3
